.input_bar{
  width: 100%;
  &_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    input{
      font-size: 1rem;
      margin-bottom: 1em;
      border: none;
      width: 90%;
      height: 40px;
      padding: 0.5em 0.5em;
    }
  }
}