.todo_item{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin: 1em auto;
  padding:0.5em auto;
  width: 90%;
  p{
    font-weight: 500;
    font-size:1.2rem;
    margin-right: auto;
  }
}

.fa{
  cursor: pointer;
  padding: 0.25em;
  font-size: 1.5rem;
}
.todo_para{
  text-decoration: none;
}
.todo_para_complete{
  text-decoration: line-through;
}

.check_btn{
  height: 1rem;
  width: 1rem;
  margin: auto 1em auto 0.5em;
}
.remove_btn{
  margin: auto 1em auto 0.5em;
}