@import '../config/variables';

.navbar{
  background-color: $navbar-background;
  top: 0;
  height: 60px;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  h1{
    align-items: center;
    width: 200px;
    height: 100%;
    margin: auto 1em auto 1em;
    justify-content: center;
    display: flex;
  }
}